In [1]:
from util import uuidGenerator
from util import GenerateFakeData

import pandas as pd

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AFONTANA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
def generate():
    for i in range(10):
        fake = GenerateFakeData()
        df = fake.dataframe(add_random_data = True)
        df.to_csv(f"test_data/test{i}.csv", index = False)

In [3]:
test_df = pd.read_csv("test_data/test.csv")

In [4]:
test_df.head()

,email,source_system,first_name,last_name,phone,address,S,T,R,X,P,I,D,W
0,anne00@example.com,sfcc,Evan,Bell,768.311.9156x4270,4621 Owens Walks Suite 793,3373,3097,1999,2303,3160,2533,4525,896
1,johnsonjesse@gmail.com,tock,Ronald,Robinson,956-191-0766x9496,"655 Thomas Flats Apt. 267\nNorth Shannon, GA 9...",835,1230,836,4184,3333,1721,4638,396
2,matthew07@gmail.com,sfcc,Edward,Jones,(642)703-9215x6435,63734 Henderson Pike,1601,3954,3362,85,3440,1150,1225,3598
3,ashley87@beck.com,tock,Alejandro,Martin,(445)313-0312x45306,"12731 Kristi Mountain\nWebbmouth, NC 41555",4356,1371,3508,718,4177,4819,4113,386
4,elizabethwiley@example.net,sfcc,Sarah,Hall,(002)137-4890x635,"745 Brown Coves\nWest Alexis, ND 55000",1723,270,3156,1670,1500,3771,39,2389

In [2]:
# x = uuidGenerator(
#     email = "xxx@hotmail.com",
#     source_system = "Tock",
#     first_name = "Sean",
#     last_name = "O",
#     phone = "69696969", S
#     address = "Fresno"
# )

# print(x.create_hash())

In [6]:
test_df.head()

,email,source_system,first_name,last_name,phone,address,S,T,R,X,P,I,D,W
0,anne00@example.com,sfcc,Evan,Bell,768.311.9156x4270,4621 Owens Walks Suite 793,3373,3097,1999,2303,3160,2533,4525,896
1,johnsonjesse@gmail.com,tock,Ronald,Robinson,956-191-0766x9496,"655 Thomas Flats Apt. 267\nNorth Shannon, GA 9...",835,1230,836,4184,3333,1721,4638,396
2,matthew07@gmail.com,sfcc,Edward,Jones,(642)703-9215x6435,63734 Henderson Pike,1601,3954,3362,85,3440,1150,1225,3598
3,ashley87@beck.com,tock,Alejandro,Martin,(445)313-0312x45306,"12731 Kristi Mountain\nWebbmouth, NC 41555",4356,1371,3508,718,4177,4819,4113,386
4,elizabethwiley@example.net,sfcc,Sarah,Hall,(002)137-4890x635,"745 Brown Coves\nWest Alexis, ND 55000",1723,270,3156,1670,1500,3771,39,2389

In [7]:
# for idx,row in test_df.iterrows():
#     uuid = uuidGenerator(
#         email = row["email"],
#         source_system = row["source_system"],
#         first_name = row["first_name"],
#         last_name = row["last_name"],
#         phone = row["phone"],
#         address = row["address"]
#     )
#     uuid.create_hash()

In [9]:
# test_df["uuid"] = test_df.apply(
#     lambda x: uuidGenerator(
#         x.email,
#         x.source_system, 
#         x.first_name, 
#         x.last_name,
#         x.phone, 
#         x.address
#     ).create_hash(),
# axis = 1)

## Notes

1. Add in source system ID in addition to source_system string to verify user exists
2. Test for scalability, high volume 
3. What is the cap for a single lambda? How many can this process in 15?

In [10]:
test_df.head()

,email,source_system,first_name,last_name,phone,address,S,T,R,X,P,I,D,W,uuid
0,anne00@example.com,sfcc,Evan,Bell,768.311.9156x4270,4621 Owens Walks Suite 793,3373,3097,1999,2303,3160,2533,4525,896,68bc2cdc-a5d5-5e85-938b-2abf07235a97
1,johnsonjesse@gmail.com,tock,Ronald,Robinson,956-191-0766x9496,"655 Thomas Flats Apt. 267\nNorth Shannon, GA 9...",835,1230,836,4184,3333,1721,4638,396,0b0e6e85-b658-5536-8b6f-932758d5ff5e
2,matthew07@gmail.com,sfcc,Edward,Jones,(642)703-9215x6435,63734 Henderson Pike,1601,3954,3362,85,3440,1150,1225,3598,5548212b-75a4-5873-8fd5-4f7200898602
3,ashley87@beck.com,tock,Alejandro,Martin,(445)313-0312x45306,"12731 Kristi Mountain\nWebbmouth, NC 41555",4356,1371,3508,718,4177,4819,4113,386,beae2c6e-803a-507c-bb02-6cb949d67dcd
4,elizabethwiley@example.net,sfcc,Sarah,Hall,(002)137-4890x635,"745 Brown Coves\nWest Alexis, ND 55000",1723,270,3156,1670,1500,3771,39,2389,687e1f0d-8dd5-523a-9471-96731eba873a

In [20]:
y = uuidGenerator(
    email = "anne00@example.com	",
    source_system = "sfcc",
    first_name = "Evanesence",
    last_name = "Bell",
    phone = "768.311.9156x4270", 
    address = "4621 Owens Walks Suite 793"
)

In [21]:
y.create_hash()

{'email': 'anne00@example.com', 'source_system': 'sfcc', 'first_name': 'evanesence', 'last_name': 'bell', 'phone': ''}

UUID('919d35ba-4bb2-5eb3-bc54-668d13b0a14e')